.container {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0)
    );
    z-index: 1000001;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $arrowColor: #ccc;
  
  .leftBtn,
  .rightBtn {
    position: relative;
    width: 30px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
  
    &:focus {
      outline: auto;
    }
  
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-top: 5px solid $arrowColor;
      border-right: 5px solid $arrowColor;
      top: 50%;
      left: -10px;
      transform-origin: top;
      transform: rotate(45deg) translateY(-50%);
    }
  }
  
  .leftBtn::before {
    left: 10px;
    border-top: 5px solid $arrowColor;
    border-left: 5px solid $arrowColor;
    border-right: none;
    transform: rotate(-45deg) translateY(-50%);
  }
  
  .setting {
    position: absolute;
    top: 136px;
    right: 50px;
    color: #fff;
    font-size: 14px;
    z-index: 2;
  
    > button {
      color: #000;
      padding: 4px 6px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
      background: #fdfdfd;
      overflow: hidden;
      margin-left: 16px;
  
      &:active,
      &:focus {
        background: #fff;
        border-color: #aaa;
        outline: auto;
      }
    }
  }
  
  .content {
    position: relative;
    width: 80%;
    height: 100%;
    min-height: 300px;
    padding: 200px 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 2%;
  }
  